resume_color = #13ad67
menu_color = #777777
body
    overflow-y scroll
    h3
        color resume_color
    a
        color resume_color
        font-family "Microsoft YaHei" !important

/*-------------LOGIN----------------*/

.login_box
    width 400px
    margin 50px auto
    padding 20px
    border 1px mycolor solid
    h3
        text-align center !important
    .lang_select
        text-align right

/*-------------HOME----------------*/
.home
    text-align center
    font-size 30px
    margin-top 50px

/*-------------MENU----------------*/
.menu
    letter-spacing 1px
    margin-top 50px
    ul
        padding 0px
        li
            display block
            line-height 45px
            a
                padding-left 10px
                border-left 2px solid #fff
                color menu_color
                &:hover
                    transition all 0.5s
                    margin-left 15px
                    border-left 2px solid resume_color
                    color resume_color
    h3
        letter-spacing 2px
        font-size 20px
        font-weight 500

/*-------------allpage----------------*/
.all_page

    .header
        margin 30px 0 70px
    .title
        text-align left
        font-size 22px
        color resume_color
        font-weight 500
        background #fff
        padding-right 80px
        z-index 2
        display inline-block
        position relative
    .line
        width 100%
        border-bottom 1px dashed #aaaaaa
        position relative
        margin-top -17px
        z-index 1
    .content
        color #777777
        margin-left 30px
        .list
            margin-bottom 20px
        .list_title
            color resume_color
            margin-bottom 5px
        .list_content
            color #777777
        .myimg
            border-radius 50%
            overflow hidden
            width: 200px;
            position: absolute;
            right: 0;
            img
                width 200px
                height 200px
    .skill
        color #bbb
        font-weight 500
    .el-collapse-item__header
        font-size 15px
    .el-collapse-item__content
        a
            font-size 15px


